<%- include('header'); -%>

<h1 class="main-heading">About</h1>
<div class="movie-details">


<p >This is a website which helps you to get the details of movies. </p>
<p>You can search for movies that you plan to watch and read a brief summary along with imdb ratings</p>
<p>It will help to save time by making it easier to choose movies</p>
</div>












<%- include('footer')-%>
