
<%- include('header'); -%>


<h1 class="heading">Movie Finder</h1>
    <form class="forms" action="/" method="POST">
     <input class="search" placeholder="Enter the movie name" type="text" name="search">
     <button class="button" type="submit">search</button>
    </form>


<%- include('footer')-%>
